body{
  background-color: aquamarine
}


@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap&subset=cyrillic');
p{ 
  font-family: 'Pacifico', cursive;
  font-size: 20px
}

@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap&subset=cyrillic');
h1{
  font-family: 'Lobster', cursive;
  font-size: 35px
}
@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap&subset=cyrillic');
h3{
  font-family: 'Caveat', cursive;
  font-size: 25px
}

